@import "tailwindcss";

@theme {
  --color-brand-blue: #123456;
}

body {
  background-color: #0b0e11;
  color: white;
}

input,
textarea {
  color: #fff;
}

select option {
  color: black;
}

